<mat-card class='single-card-container' >
  <img class='card-image' mat-card-image [src]="movie.image" alt=" poster" />
    <mat-card-header class='card-header'>
      <mat-card-title class='card-title'>{{ movie.title }}</mat-card-title>
    </mat-card-header>
    <!-- <img class='card-image' mat-card-image [src]="movie.thumbnail" alt=" poster" /> -->
    <mat-card-content class='card-des-container'>
      <p>{{ movie.description }}</p>
    </mat-card-content>
    <mat-card-actions class='card-action-container'>
      <button mat-button color="primary">Watch trailer</button>
    </mat-card-actions>
  </mat-card>